/*自定义checkbox---span版*/
span.checkBoxSpan::before{
    display:inline-block;
    content: "";
}
span.checkBoxSpan{
    display:inline-block;
    border:1px solid #ccc;
    background: #f8f8f8;
    border-radius:0.25rem;
    margin-right:5px;
    width:20px;
    height:20px;
    line-height:20px;
    color:transparent;
    text-align:center;
    cursor:pointer;
    box-shadow: 0 0 1em #ccc;
}
span.checkBoxSpan.active{
    border:1px solid #1890ff;
    color:#fff !important;
    background: #1890ff;
    box-shadow: 0 0 1em #1890ff;
    animation:boxAnimation 0.25s;
}
span.checkBoxSpan.active::before{
    display: inline-block;
    /*content: "√";*/
    content: "\2713";
}
span.checkBoxSpan:hover{
    border:1px solid #1890ff;
    box-shadow: 0 0 1em #1890ff;
}

/*checkbox animation*/
@keyframes boxAnimation {
    0% {box-shadow: 0 0 0 0 transparent;}
    100% {box-shadow: 0 0 0.5em 0.2em #1890ff;}
}