.ui-datePicker{
    position:relative;
    font-size: 10px;
}
/*输入框*/
.ui-datePicker>.ui-datePicker-input{
    border:1px solid #d9d9d9;
    position:absolute;
    width:100%;
    height:100%;
    background:#fff;
    overflow:hidden;
    border-radius:3px;
}
.ui-datePicker>.ui-datePicker-input input,.ui-datePicker>.ui-datePicker-input span{
    float:left;
    cursor:pointer;
}
.ui-datePicker>.ui-datePicker-input input{
    border:none;
    width:calc(100% - 24px);
    height:calc(100% - 2px);;
    background:transparent;
}
.ui-datePicker>.ui-datePicker-input .ui-datePicker-icon{
    font-size:20px;
    color:#ccc;
}
/*日期盒子*/
.ui-datePicker-box{
    border-width:0 1px 1px 1px;
    border-style:solid;
    border-color:#d9d9d9;
    position:absolute;
    z-index:999;
    width:100%;/*280px*/
    background:#fff;
    padding:0 10px;
    box-shadow:0 0 15px #d9d9d9;
    overflow:hidden;
    height:0;
    opacity:0;
}
.ui-datePicker-box.active{
    height:338px;
    opacity:1;
    animation:boxShowAnimation 0.25s;
}
@keyframes boxShowAnimation {
    0%{height:0;opacity:0;}
    100%{height:338px;opacity:1;}
}
.ui-datePicker-box .ui-datePicker-show{
    text-align:center;
    padding:15px 0;
    border-bottom:1px solid #d9d9d9;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.ui-datePicker-box .ui-datePicker-show span{
    display:inline-block;
    height:24px;
    line-height:22px;
    text-align:center;
    cursor:pointer;
    border:1px solid transparent;
    color:#999;
    margin:0 2px;
    padding:0 5px;
    background:#fff;
}
.ui-datePicker-box .ui-datePicker-show span:hover{
    color:#1890ff;
    border:1px solid #1890ff;
}
.ui-datePicker-box .ui-datePicker-show b{
    pointer-events:none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.ui-datePicker-box .ui-datePicker-weeks{
    padding:10px 0;
    pointer-events:none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
.ui-datePicker-box .ui-datePicker-weeks ul{
    overflow:hidden;
}
.ui-datePicker-box .ui-datePicker-weeks ul li{
    float:left;
    width:14.2857%;
    text-align:center;
}
.ui-datePicker-box .ui-datePicker-days{
    height:210px;
    border-bottom:1px solid #d9d9d9;
}
.ui-datePicker-box .ui-datePicker-days ul{
    overflow:hidden;
}
.ui-datePicker-box .ui-datePicker-days li{
    float:left;
    width:14.2857%;
    text-align:center;
    padding:3px 0;
}
.ui-datePicker-box .ui-datePicker-days ul li span{
    border:1px solid transparent;
    display:inline-block;
    width:28px;
    height:28px;
    line-height:26px;
    text-align:center;
    cursor:pointer;
}
.ui-datePicker-box .ui-datePicker-days ul li span.active{
    background:#1890ff;
    color:#fff;
    border:1px solid #1890ff;
    animation: selectDayAnimation 0.5s;
}
.ui-datePicker-box .ui-datePicker-days ul li span.noActive:hover{
    color:#1890ff;
    border:1px solid #1890ff;
    background:#fff;
}
@keyframes selectDayAnimation {
    0%{
        background:#fff;
        color:#1890ff;
        border:1px solid transparent;
    }
    100%{
        background:#1890ff;
        color:#fff;
        border:1px solid #1890ff;
    }
}
/*上一年，上一月，下一年，下一月*/
/*.ui-datePicker-prevYear:before{content:'<<';}*/
/*.ui-datePicker-nextYear:before{content:'>>';}*/
/*.ui-datePicker-prevMonth:before{content:'<';}*/
/*.ui-datePicker-nextMonth:before{content:'>';}*/
/*按钮选项*/
.ui-datePicker-options{
    padding:5px 0;
    text-align:center;
}
.ui-datePicker-options span button{
    outline:none;
    text-decoration:none;
    border:none;
    background:#1890ff;
    color:#fff;
    opacity:0.8;
    border-radius:3px;
    margin:0 3px;
    padding:0 8px;
    height:28px;
    line-height:28px;
}
.ui-datePicker-options span a{
    color:#1890ff;
    opacity:0.8;
    padding:0 8px;
}
.ui-datePicker-options span a:hover{
    color: #0b48ff;
    opacity:1;
}
.ui-datePicker-options span button:hover{
    opacity:1;
}
/*时分秒*/
.ui-datePicker-times{
    height:298px;
    text-align:center;
    border-bottom:1px solid #d9d9d9;
}
.ui-datePicker-times .ui-datePicker-times-top{
    overflow:hidden;
}
.ui-datePicker-times .ui-datePicker-times-top span{
    float:left;
    width:33.3333%;
    height:60px;
    line-height:60px;
    text-align:center;
}
.ui-datePicker-times .ui-datePicker-times-list{
    overflow:hidden;
    list-style:none;
    padding:5px 0;
}
.ui-datePicker-times .ui-datePicker-times-list li{
    float:left;
    height:220px;
    width:30%;
    margin-left:2.5%;
    overflow:auto;
    border:1px solid #e1e1e1;
}
.ui-datePicker-times .ui-datePicker-times-list li:last-child{
    border-right:1px solid #e1e1e1;
}
.ui-datePicker-times .ui-datePicker-times-list li>p{
    width:80%;
    margin:0 auto;
    height:22px;
    line-height:22px;
    cursor:pointer;
}
.ui-datePicker-times .ui-datePicker-times-list li>p:hover{
    color:#fff;
    background:#1890ff;
}
