.ui-inputCount-box{
    border:1px solid #dcdfe6;
    display:inline-block;
    height:32px;
    border-radius:3px;
}
.ui-inputCount-box:after{
    clear:both;
}
.ui-inputCount-box>span{
    float:left;
    height:100%;
    line-height:1.5;
    text-align:center;
    border-radius:0px !important;
    border:none;
}
.ui-inputCount-box>span:first-child,.ui-inputCount-box>span:last-child{
    width:32px;
    background:#f5f7fa;
    color:#606266;
    font-size:18px;
}
.ui-inputCount-box>span:first-child:before{
    content: "-";
}
.ui-inputCount-box>span:last-child:before{
    content: "+";
}
.ui-inputCount-box>span.ui-inputCount-box-input{
    height:100%;
    border:1px solid #dcdfe6;
    border-width:0 1px;
}
.ui-inputCount-box>span.ui-inputCount-box-input>input{
    width:40px;
    text-align:center;
    height:100%;
    padding:0 4px;
    text-indent:0 !important;
    border:none !important;
}




.ui-inputCount-box>span:hover{
    color:#1890ff;
    background:#ebeef5;
}

