/*message[success|warning|error]*/
.ui-message-box{
    position:fixed;
    z-index:999999999;
    background:#fff;
    max-width:480px;
    min-width:240px;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align:center;
    top:-200px;
    animation:msgHide 0.5s !important;
}
.ui-message-box.active{
    top:50px;
    animation:msgShow 0.3s !important;
}
.ui-message-body{
    display:inline-block;
    width:100%;
    padding:20px;
    border-radius:3px;
}
.ui-message-body.ui-message-success{
    border:1px solid #b7eb8f;
    background:#f6ffed;
}
.ui-message-body.ui-message-info{
    border:1px solid #91d5ff;
    background:#e6f7ff;
}
.ui-message-body.ui-message-warning{
    border:1px solid #ffe58f;
    background:#fffbe6;
}
.ui-message-body.ui-message-error{
    border:1px solid #ffa39e;
    background:#fff1f0;
}
.ui-message-body>span{
    font-size:14px !important;
    display:inline-block;
    height:16px;
    line-height:16px;
}
.ui-message-body>span:first-child{
    margin-right:5px;
    width:16px;
    border-radius:50%;
}
.ui-message-body>span.ui-message-success-icon{
    background:#b7eb8f;
    color:#fff;
}
.ui-message-body>span.ui-message-info-icon{
    background:#91d5ff;
    color:#fff;
}
.ui-message-body>span.ui-message-warning-icon{
    background:#ffe58f;
    color:#fff;
}
.ui-message-body>span.ui-message-error-icon{
    background:#ffa39e;
    color:#fff;
}
/*message show*/
@keyframes msgShow {
    0% {top:-600px;}
    100% {top:50px;}
}
@keyframes msgHide {
    0% {top:50px;}
    100% {top:-600px;}
}