/*message[success|warning|error]*/
.ui-message-box{
    border:1px solid #e1e1e1;
    position:fixed;
    z-index:999999999;
    background:#fff;
    max-width:480px;
    min-width:240px;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    padding:20px;
    text-align:center;
    top:-600px;
    animation:msgHide 0.5s !important;
}
.ui-message-box.active{
    top:50px;
    animation:msgShow 0.3s !important;
}
.ui-message-body{
    /*background:#fff;*/
    /*box-shadow:0 0 15px #ccc;*/
    /*max-width:480px;*/
    /*min-width:240px;*/
    /*position:relative;*/
    /*border-radius:3px;*/
    /*color:#2B344C;*/
    /*text-align:center;*/
    /*padding:25px 50px;*/
    /*top:50px;*/
}
/*.ui-message-body.active{*/
    /*animation:msgShow 0.5s !important;*/
/*}*/
.ui-message-body>span{
    font-size:14px !important;
    display:inline-block;
    height:16px;
    line-height:16px;
}
.ui-message-body>span:first-child{
    margin-right:5px;
    width:16px;
    border-radius:50%;
}
.ui-message-body>span.ui-message-success-icon{
    background:#1890ff;
    color:#fff;
}
.ui-message-body>span.ui-message-warning-icon{
    background:orange;
    color:#fff;
}
.ui-message-body>span.ui-message-error-icon{
    background:red;
    color:#fff;
}
/*message show*/
@keyframes msgShow {
    0% {top:-600px;}
    100% {top:50px;}
}
@keyframes msgHide {
    0% {top:50px;}
    100% {top:-600px;}
}