/*modal*/
.modal {
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100%;
    display: none;
    background:transparent;
    animation: fadeOut 0.6s !important;
}

.modal.active {
    display: block;
    background:rgba(0,0,0,0.2);
    animation: fadeIn 0.6s !important;
}
/*modal animation*/
@keyframes fadeIn {
    0% {background:transparent;}
    100% {background:rgba(0,0,0,0.2);}
}

@keyframes fadeOut {
    0% {background:rgba(0,0,0,0.5);}
    100% {background:transparent;}
}
.modal-body {
    background: #fff;
    box-shadow: 0 0 15px #515151;
    margin: 15% auto auto auto;
    border-radius: 3px;
    width:0;
    opacity:1;
    transition: width 0.25s;
    -webkit-transition: width 0.25s;
    -moz-transition: width 0.25s;
}
.modal-body.active{
    width:360px !important;
    animation: bodyShow 0.6s;
}
@keyframes bodyShow {
    0% {opacity:0;}
    100% {opacity:1;}
}
.modal-head {
    overflow: hidden;
    text-align: left;
    color: #2B344C;
    font-size: 1.4em;
    padding: 20px 15px
}

.modal-head > span {
    float: right;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #f8f8f8
}

.modal-head > span:hover {
    color: #fff;
    background: #1890ff
}

.modal-content {
    padding: 5px 15px 56px 15px
}

.modal-content > .promptModalIn {
    width: 100%;
    height: 60px;
    border-width: 0 0 1px 0;
    border-color: #ccc
}

.modal-foot {
    overflow: hidden;
    border-radius: 0 0 3px 3px;
}

.modal-foot > span {
    float: left;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-radius:0 !important;
    color: #fff;
    cursor: pointer
}

.modal-foot > span.btnLg {
    width: 100%;
}

.modal-foot > span.btnMd {
    width: 50%
}

.modal-foot > span.btnSucces {
    background: #1890ff
}

.modal-foot > span.btnCancel {
    background: #333852
}

