/*modal*/
.ui-modal {
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100%;
    background:transparent;
}
.ui-modal.active {
    background:rgba(0,0,0,0.5);
}
.ui-modal .ui-modal-body {
    background:transparent;
    box-shadow: 0 0 15px #515151;
    border-radius: 5px;
    overflow:hidden;
    position:absolute;
    z-index:999;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.ui-modal.active .ui-modal-body{
    background:#fff;
    animation:changeWidthHeight .5s;
}
@keyframes changeWidthHeight{from {background:transparent;}to {background:#fff}}
@-moz-keyframes changeWidthHeight{from {background:transparent;}to {background:#fff}}
@-webkit-keyframes changeWidthHeight{from {background:transparent;}to {background:#fff}}
@-o-keyframes changeWidthHeight{from {background:transparent;}to {background:#fff}}
.ui-modal-head,.ui-modal-foot{
    padding:20px 15px;
}
.ui-modal-head {
    overflow: hidden;
    text-align: center;
    color: #2B344C;
    font-size: 1.4em;
}

.ui-modal-head > span {
    float: right;
    width: 20px;
    height: 20px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #f8f8f8;

}

.ui-modal-head > span:hover {
    color: #fff;
    background: #1890ff;
}

.ui-modal-content {
    padding: 0 15px
}

.ui-modal-foot {
    border-radius: 0 0 3px 3px;
    text-align:right;
}

.ui-modal-foot > span {
    display:inline-block;
    margin-right:10px;
    height:30px;
    line-height:30px;
    padding:0 12px;
    text-align: center;
    border-radius:3px;
    color: #fff;
    cursor: pointer;
    opacity:0.8;
}
.ui-modal-foot > span:hover {
    opacity:1;
}
.ui-modal-foot > span.btnOK {
    background: #1890ff
}

.ui-modal-foot > span.btnNO {
    border:1px solid #999;
    color:#999;
}
.ui-modal-foot > span.btnLg {
    width: 100%;
}
.ui-modal-foot > span.btnMd {
    width: 50%
}

