/*气泡提示组件CSS*/
.ui-popover{
    position:fixed;
    z-index:999999;
    width:180px;
    animation:fadeIn 0.5s !important;
    -webkit-animation:fadeIn 0.5s !important;
    -moz-animation:fadeIn 0.5s !important;
    -o-animation:fadeIn 0.5s !important;
}
/*message show*/
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
.ui-popover-box{
    border:1px solid #e1e1e1;
    width:180px;
    padding:15px;
    border-radius:5px;
    word-wrap:break-word;
    position:relative;
    background: #fff;
}
.ui-popover-box span{
    border:1px solid #e1e1e1;
    transform: rotate(45deg);
    width: 14px;
    height: 14px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.ui-popover-box .ui-popover-topIcon{
    margin: auto auto -8px auto;
    border-width:0 1px 1px 0;
}
.ui-popover-box .ui-popover-rightIcon{
    margin: auto auto auto -8px;
    border-width:0 0 1px 1px;
}
.ui-popover-box .ui-popover-bottomIcon{

    margin: -8px auto auto auto;
    border-width:1px 0 0 1px;
}
.ui-popover-content .ui-popover-leftIcon{
    margin: auto -8px auto auto;
    border-width:1px 1px 0 0;
}