/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0;padding:0;font-family:Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;}
*{border-radius:3px}
html{font-size: 62.5%;}/*16*62.5%=10px*/
html,body{height:100%}
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;
}
body{font-size:1em;min-width:1366px;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}/* remember to define focus styles! */
/*:root{font-size: calc(2vw + 1vh)}!*字体大小根据不同视口进行调整,移动端适用,body{font-size:1em;}*!*/
ins {text-decoration: none;}/* remember to highlight inserts somehow! */
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}/* tables still need 'cellspacing="0"' in the markup */
a{outline:none;text-decoration:none;cursor:pointer}
input,select,textarea{
    outline:none;
    text-decoration:none;
    border:1px solid #d9d9d9;
    border-radius:3px;
    text-indent:5px;
}
button{outline:none;text-decoration:none;border:none}
/*滚动条*/
/*IE内核*/
body{
    scrollbar-arrow-color:#0284C3;/*三角箭头的颜色*/
    scrollbar-face-color:#1890ff;/*滚动条滑块按钮的颜色*/
    scrollbar-highlight-color:#0284C3;/*滚动条整体颜色*/
    scrollbar-shadow-color:#0284C3;/*滚动条阴影*/
}
/*-webkit内核-*/
::-webkit-scrollbar{width:5px;}/*滚动条垂直方向的宽度*/
::-webkit-scrollbar-thumb:vertical{background:#1890ff;}/* 垂直滚动条的滑动块 */
.no-events {pointer-events: none}/*PC端禁止鼠标点击事件，移动端禁止触摸事件还有长按事件*/
/*移动端禁止用户长按文字选择功能*/
.unselect {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.nowrap{white-space: nowrap;}/* 不换行 */
.autowrap{word-wrap: break-word;word-break: normal;}/* 自动换行 */
.mustwrap{word-break: break-all;}/* 强制换行 */
/*超出N行显示省略号,根据实际情况调整n*/
.hide-text-n {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: n;
    overflow: hidden
}
.scroll-touch {-webkit-overflow-scrolling: touch}/*移动端顺畅滚动*/
/*字体颜色*/
.text-grey{color:#C8CED3 !important;}/*灰白*/
.text-warning{color:#fe8900 !important;}/*warning*/
.text-error{color:#ff0830 !important;}/*error字体颜色*/
.text-actor{color:#1890ff !important;}/*优字体颜色*/
.text-unhanld{color:orange !important;}/*待处理*/
.text-hanlding{color:#2ED2F2 !important;}/*处理中*/
.text-finished{color:#5fb878 !important;}/*已完成*/
/*浮动*/
.fl{float:left}
.fr{float:right}
.clear{overflow:hidden}
/*文字位置*/
.text-left{text-align:left}
.text-center{text-align:center}
.text-right{text-align:right}
/*圆角*/
.br3{border-radius:3px}
.br5{border-radius:5px}
/*阴影*/
.boxShadow{box-shadow:0 0 15px #ccc;}
/*仿bootstrap.css*/
.container{width:100%;}
.row{font-size:0;/*清除inline-block的间隔*/}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{display:inline-block;font-size: medium;}
.col-1{width:8.3333%;}
.col-2{width:16.6666%;}
.col-3{width:24.9999%;}
.col-4{width:33.3332%;}
.col-5{width:41.6665%;}
.col-6{width:49.9998%;}
.col-7{width:58.3331%;}
.col-8{width:66.6664%;}
.col-9{width:74.9997%;}
.col-10{width:83.333%;}
.col-11{width:91.6663%;}
.col-12{width:100%;}
/*列偏移量,结合col使用*/
.ml-1{margin-left:8.3333%;}
.ml-2{margin-left:16.6666%;}
.ml-3{margin-left:24.9999%;}
.ml-4{margin-left:33.3332%;}
.ml-5{margin-left:41.6665%;}
.ml-6{margin-left:49.9998%;}
.ml-7{margin-left:58.3331%;}
.ml-8{margin-left:66.6664%;}
.ml-9{margin-left:74.9997%;}
.ml-10{margin-left:83.333%;}
.ml-11{margin-left:91.6663%;}
/*手动滚动区域 start*/
/*
<div class="msoc-scroll">
    <div class="msic-scroll">
        这是滚动内容
    </div>
</div>
*/
.msoc-scroll {
    position: relative;
    overflow: hidden;
    height:480px;/*高度根据实际情况修改*/
}
.msic-scroll {
    position: absolute;
    left: 0;
    width:100%;
    height:inherit;
    overflow-x: hidden;
    overflow-y: scroll;
}
.msic-scroll::-webkit-scrollbar {display: none;}/*chrome 和Safari*/
.msic-scroll::-webkit-scrollbar { width: 0 !important }/*chrome 和Safari*/
.msic-scroll { -ms-overflow-style: none; }/*IE 10+*/
.msic-scroll { overflow: -moz-scrollbars-none; }/*Firefox*/
/*手动滚动区域 end*/
