/* http://meyerweb.com/eric/tools/css/reset/ */
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin:0;padding:0;font-family:Monospaced Number, Chinese Quote, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;}
html{font-size: 62.5%;}/*基准大小16px*62.5%=10px*/
/*html,body{height:100%}*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;
}
body{line-height:1.5;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}/* remember to define focus styles! */
/*:root{font-size: calc(2vw + 1vh)}!*字体大小根据不同视口进行调整,移动端适用,body{font-size:1em;}*!*/
ins {text-decoration: none;}/* remember to highlight inserts somehow! */
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}/* tables still need 'cellspacing="0"' in the markup */
a{outline:none;text-decoration:none;cursor:pointer}
img{max-width:100%}
input,select,textarea{
    outline:none;
    text-decoration:none;
    border:1px solid #d9d9d9;
    border-radius:3px;
    text-indent:5px;
}
textarea{overflow: auto}/*取消IE文本框滚动条*/
button{outline:none;text-decoration:none;border:none;cursor:pointer}
/*禁止右键选中网页文字,在body标签中添加unselectable="on"*/
body{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}
/*body顶部阴影*/
body:before{
    content:'';
    position:fixed;
    z-index:100;
    top:-10px;
    left:0;
    width:100%;
    height:10px;
    -webkit-box-shadow:0 0 10px #515151;
    -moz-box-shadow:0 0 10px #515151;
    box-shadow:0 0 10px #515151;
}
/*滚动条*/
/*IE内核*/
/*body{*/
    /*scrollbar-arrow-color:#EFEFEF;!*三角箭头的颜色*!*/
    /*scrollbar-face-color:#A7A7A7;!*滚动条滑块按钮的颜色*!*/
    /*scrollbar-highlight-color:#EFEFEF;!*滚动条整体颜色*!*/
    /*scrollbar-shadow-color:#EFEFEF;!*滚动条阴影*!*/
/*}*/
/*!*-webkit内核-*!*/
/*::-webkit-scrollbar{width:5px;}!*滚动条垂直方向的宽度*!*/
/*::-webkit-scrollbar-thumb:vertical{background:#1890ff;}!* 垂直滚动条的滑动块 *!*/
.no-events {pointer-events: none}/*PC端禁止鼠标点击事件，移动端禁止触摸事件还有长按事件*/
/*移动端禁止用户长按文字选择功能*/
.unselect {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
.nowrap{white-space: nowrap;}/* 不换行 */
.autowrap{word-wrap: break-word;word-break: normal;}/* 自动换行 */
.mustwrap{word-break: break-all;}/* 强制换行 */
/*超出N行显示省略号,根据实际情况调整n*/
.hide-text-n {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: n;
    overflow: hidden
}
.scroll-touch {-webkit-overflow-scrolling: touch}/*移动端顺畅滚动*/
/*浮动*/
.fl{float:left}
.fr{float:right}
.clear{overflow:hidden}
/*圆角*/
.br3{border-radius:3px}
.br5{border-radius:5px}
/*阴影*/
.boxShadow{box-shadow:0 0 15px #ccc;}
/*布局*/
*{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.ui-row{width: 100%;}
.ui-row::before,.ui-row::after{display: block;height: 0;clear: both;content: " ";}
.ui-col-1,.ui-col-2,.ui-col-3,.ui-col-4,.ui-col-5,.ui-col-6,
.ui-col-7,.ui-col-8,.ui-col-9,.ui-col-10,.ui-col-11,.ui-col-12{
    float: left;
}
.ui-col-1{width: 8.3333%}
.ui-col-2{width: 16.6666%}
.ui-col-3{width: 24.9999%}
.ui-col-4{width: 33.3333%}
.ui-col-5{width: 41.6666%}
.ui-col-6{width: 49.9999%}
.ui-col-7{width: 58.3332%}
.ui-col-8{width: 66.6666%}
.ui-col-9{width: 74.9999%}
.ui-col-10{width: 83.3332%}
.ui-col-11{width: 91.6666%}
.ui-col-12{width: 100%}
/*列偏移量,结合col使用*/
.ml-1{margin-left:8.3333%;}
.ml-2{margin-left:16.6666%;}
.ml-3{margin-left:24.9999%;}
.ml-4{margin-left:33.3332%;}
.ml-5{margin-left:41.6665%;}
.ml-6{margin-left:49.9998%;}
.ml-7{margin-left:58.3331%;}
.ml-8{margin-left:66.6664%;}
.ml-9{margin-left:74.9997%;}
.ml-10{margin-left:83.333%;}
.ml-11{margin-left:91.6663%;}
/*手动滚动区域 start*/
/*
<div class="ui-scroll-container">
    <div class="ui-scroll-box">
        这是滚动内容
    </div>
</div>
*/
.ui-scroll-container{
    overflow:hidden;
}
.ui-scroll-box{
    width:calc(100% + 17px);
    height:100%;
    overflow-y:auto;
}
/*手动滚动区域 end*/
/*DIV垂直居中原理 start*/
.vertical-parent {
    height: 300px;
    background-color: #ccc;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: tb-lr;
}
.vertical-parent>.vertical-children {
    height: 20%;
    width: 200px;
    margin: auto 0;
    background-color: burlywood;
}
/*DIV垂直居中原理 end*/
/*图片垂直居中 start*/
.verticalImgContainer {
    /*直接子元素必须是img*/
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    writing-mode: tb-lr;
    height: 300px;/*高度根据实地修改*/
    text-align: center;
}
/*图片垂直居中 end*/
