.ui-radio-group{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    display:inline-block;
}
.ui-radio-group span,.ui-radio-group label{
    vertical-align:middle;
}
.ui-radio-box{
    display:inline-block;
    position:relative;
    width:16px;
    height:16px;
    border-radius:50%;
    border:1px solid #ccc;
}
.ui-radio-box.active{
    border:1px solid #1890ff;
    animation:radioAnimate1 0.25s !important;
    -moz-animation:radioAnimate1 0.25s !important;
    -webkit-animation:radioAnimate1 0.25s !important;
    -o-animation:radioAnimate1 0.25s !important;
}
.ui-radio-box i{
    position:absolute;
    left:50%;
    top:50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    width:0px;
    height:0px;
    background:transparent;
}
.ui-radio-box.active i{
    width:6px;
    height:6px;
    background:#1890ff;
    animation:radioAnimate2 0.25s !important;
    -moz-animation:radioAnimate2 0.25s !important;
    -webkit-animation:radioAnimate2 0.25s !important;
    -o-animation:radioAnimate2 0.25s !important;
}
.ui-radio-group label{
    padding:0 10px 0 2px;
}

/*!*animation*!*/
@keyframes radioAnimate1 {
    0% {border:1px solid #ccc;}
    100% {border:1px solid #1890ff;}
}
@keyframes radioAnimate2 {
    0% {width:0px;height:0px;background:transparent;}
    100% {width:6px;height:6px;background:#1890ff;}
}