.ui-select-box{
    position:relative;
    border-radius:3px;
    border:1px solid #d9d9d9;
    cursor:pointer;
}
.ui-select-box>div{
    position:absolute;
    width:100%;
}
.ui-select-box>div.ui-select-show{
    z-index:1;
    height:100%;
    background:transparent;
}
.ui-select-box>div .ui-select-icon{
    color:#999;
    transform:rotate(0deg);
    animation:iconAnimateOne 0.15s !important;
}
.ui-select-box>div .ui-select-icon.active{
    transform:rotate(0deg);
    animation:iconAnimateTwo 0.15s !important;
}
/*icon边框动画*/
@keyframes iconAnimateOne {
    0% {transform:rotate(90deg);}
    100% {transform:rotate(0deg);}
}
@keyframes iconAnimateTwo {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(90deg);}
}

.ui-select-box>div.ui-select-show a{
    float:left;
    background:transparent;
}
.ui-select-box>div.ui-select-show a:first-child{
    text-indent:5px;
    width:calc(100% - 30px);
}
.ui-select-box>div.ui-select-show a:last-child{
    width:30px;
    text-align:center;
}
.ui-select-box>div.ui-select-content{
    border-radius:3px;
    z-index:9;
    background:#fff;
    border:none;
    height:0;
    overflow-x:hidden;
    transition:height 0.15s;
    -moz-transition:height 0.15s; /* Firefox 4 */
    -webkit-transition:height 0.15s; /* Safari and Chrome */
    -o-transition:height 0.15s; /* Opera */
}
.ui-select-box>div.ui-select-content.active{
    border:1px solid #d9d9d9;
    overflow-y:scroll;
}
.ui-select-box>div.ui-select-content ul{
    list-style:none;
}
.ui-select-box>div.ui-select-content ul li{
    text-indent:5px;
}
.ui-select-box>div.ui-select-content ul li:hover{
    background: #1890ff;
    color:#fff;
}

.ui-select-content{
    scrollbar-arrow-color:#EFEFEF;/*三角箭头的颜色*/
    scrollbar-face-color:#A7A7A7;/*滚动条滑块按钮的颜色*/
    scrollbar-highlight-color:#EFEFEF;/*滚动条整体颜色*/
    scrollbar-shadow-color:#EFEFEF;/*滚动条阴影*/
}
/*-webkit内核-*/
.ui-select-content::-webkit-scrollbar{width:5px;}/*滚动条垂直方向的宽度*/
.ui-select-content::-webkit-scrollbar-thumb:vertical{background:transparent;}/* 垂直滚动条的滑动块 */