/*
 *switch组件CSS
 */

.ui-switch,.ui-switch>.ui-switch-slider{
    display:inline-block;
}
.ui-switch{
    background:#ccc;
    border:1px solid #ccc;
    position:relative;
}
.ui-switch.active{
    background:#3B86FF;
    border:1px solid #3B86FF;
    animation:swtichAnimation 0.5s !important;
}
.ui-switch>.ui-switch-slider{
    position:absolute;
    right:0;
}
.ui-switch.active>.ui-switch-slider{
    left:0;
}
.ui-switch-slider{
    height:100%;
    border-radius:50%;
    background:#fff;
}
/*swtich animation*/
@keyframes swtichAnimation {
    0% {background:#ccc;border:1px solid #ccc;}
    100% {background:#3B86FF;border:1px solid #3B86FF;}
}