/*
 *switch组件CSS
 */

.ui-switch,.ui-switch>.ui-switch-slider{
    display:inline-block;
}
.ui-switch{
    background:#ccc;
    border:2px solid #ccc;
}
.ui-switch.active{
    background:#3B86FF;
    border:2px solid #3B86FF;
    animation:swtichAnimation 0.5s !important;
}
.ui-switch>.ui-switch-slider{
    margin-left:calc(50% + 2px);
    animation:swtichChangeRightAnimation 0.2s !important;
}
.ui-switch.active>.ui-switch-slider{
    margin-left:0;
    animation:swtichChangeLeftAnimation 0.2s !important;
}
.ui-switch-slider{
    height:100%;
    border-radius:50%;
    background:#fff;
}
/*swtich animation*/
@keyframes swtichAnimation {
    0% {background:#ccc;border:2px solid #ccc;}
    100% {background:#3B86FF;border:2px solid #3B86FF;}
}
@keyframes swtichChangeLeftAnimation {
    0% {margin-left:calc(50% + 2px);}
    100% {margin-left:0;}
}
@keyframes swtichChangeRightAnimation {
    0% {margin-left:0;}
    100% {margin-left:calc(50% + 2px);}
}